{%extends 'base.html'%}
{%block main%}
<form method = "POST" enctype="multipart/form-data">
    {%csrf_token%}
    <div class="containers"><div>
        <h1>Project Details</h1>
    Accept<input type="radio" name ="status" value="A"/>
    Reject<input type="radio" name ="status" value="R"/>
    To be modified<input type="radio" name ="status" value="M"/>
    <p class="sid">USN:{{project.student_id.sname}}</p>
    <p>Project Name:{{project.pname}}</p>
    <p>Sem:{{project.sem}}</p>
    <p>Subject:{{project.subject}}</p>
    <p>Comment<textarea name="comment">Enter your comments</textarea></p>
    <button type="submit" class="btn btn-primary">Submit</button></div>
</div>
</form>
{%endblock%}