{%extends 'base.html'%}

  {%block content%}
  <div class="card" style="margin-top:70px;">
      <div class="card-body">
              <div class = "cardedit">
      <form action = "/teachersignup/" method = "POST">
        {%csrf_token%}
        
       <div class = "row">
          <div class = 'col-sm'></div>
          <div class = 'col-sm'>
            <h3><b>SignUp</b></h3>
            
          </div>
          <div class = 'col-sm'></div>
        </div>

        <div class="form-group">
         
          <input type="text" class="form-control" name="tname" placeholder="Full name" required>
        </div>
        
        
        <div class="form-group">
        
          <input type="email" class="form-control" name="email" aria-describedby="emailHelp" placeholder="Email" required>
        </div>
        <div class="form-group">
       
          <input type="password" class="form-control" name="password" placeholder="Password" required>
        </div>
        <div class="form-group">
        
          <input type="text" class="form-control" name = 'domain' aria-describedby="emailHelp" placeholder="Domain" >
        </div>
        <div class="form-group">
        
                <input type="number" class="form-control" name = 'yearsofexperience' aria-describedby="emailHelp" placeholder="Year Of experience" >
              </div>
        <div class="form-group">
        
         
          
            <select class="form-control" name = "dept" required>
              <option selected="selected" disabled>Select Branch</option>
              <option value = "CS">CSE</option>
              <option value = "IS">ISE</option>
              <option value = "EC">EC</option>
              <option value = "EEE">EEE</option>
              <option value = "IE">IE</option>
              <option value = "CIVIL">CIVIL</option>
              <option value = "MECH">MECH</option>
              <option value = "TC">EEE</option>
            </select>
        
        </div>
        <div class="form-group">
        
         
          
                <select class="form-control" name = "position" required>
                  <option selected="selected" disabled>Select your position</option>
                  <option value = "Ass">Assistant Professor</option>
                  <option value = "Asc">Associate Professor</option>
                  <option value = "Prof">Professor</option>
                  <option value = "Hod">Hod</option>
                </select>
            
        </div>
    

        <div class = "row">
          <div class = 'col-sm'></div>
          <div class = 'col-sm'>
            <button type="submit" class="btn btn-primary">Submit</button><br><br>
            
          </div>
          <div class = 'col-sm'></div>
        </div>
        Already a user? <a href="{% url 'teachersignin' %}">SignIn</a>
    </form>
  </div>
</div>
</div>
  {%endblock%}